header {
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  -webkit-backdrop-filter: blur(6px);
  padding: .5em 0;
  position: fixed;
  width: 100%;
}

header ul {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

nav :is( .logo, .username h2 ) {
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 0 1.2em;
  text-align: center;
}

.username h2 {
  font-size: 12pt;
}

.username {
  display: flex;
  justify-content: flex-end;
  width: 132px;
}