.search-page {
  align-items: center;
  background-attachment: fixed;
  background-image: url('../images/cute-girl-white-pink-headphones-actively-dancing-pink-wall-moving-long-hair.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100vh;
  padding: 0 180px;
}

.searched {
  height: 100% !important;
}

.search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}

.search-form :is( input, button ) {
  margin: 0 5px;
}

.search-btn {
  background: transparent;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

/* https://codepen.io/yuhomyan/pen/XWdYJdv?editors=1100 */
.search-container {
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 10px 20px;
  transition: 0.8s;
}

.search-container:hover > .search-input {
  width: 200px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  outline:none;
  width: 0px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  color: rgb(92, 189, 187);
}

.album-library {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.album-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}

.album-card {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-wrap: nowrap;
  height: 220px;
  justify-content: center;
  margin: 8px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  width: 200px;
}

.album-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.05);
  transform: scale(1.1);
}
.album-card :is( h4, h5 ) {
  margin: 1em 0;
}

.album-card h4 {
  font-size: 1vw;
}

.album-card h5 {
  font-size: .8vw;
}
